* {
  margin: 0;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0px;
}

/***Buttons*****/
.aud-button {
  border-radius: 5px;
  padding: 12px;
  background-color: #1b224c;
  color: #ffffff;
  border: none;
  /* margin: 10px; */
  font-size: 18px;
  font-weight: 500;
}

.aud-button:hover {
  background-color: #f3223c;
  cursor: pointer;
}

.aud-button img {
  width: 25px !important;
}

/***Radio Buttons*****/
.radio-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-input label {
  color: #1b224c;
  font-size: 17px;
  font: 600;
}

.radio-input input {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* transition: .4s ease-in-out; */
  border: 2px solid #113161;
  cursor: pointer;
}

.radio-input input:hover + .circle {
  scale: 1.2;
  cursor: pointer;
  box-shadow: none;
}

.radio-input .circle {
  position: relative;
  top: 0em;
  right: 0.95em;
  width: 10px;
  height: 10px;
  background-color: #6f70705d;
  scale: 0;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.radio-input input:checked {
  box-shadow: none;
  border: 2px solid #113161;
}

.radio-input input:checked + .circle {
  background-color: #113161;
  scale: 0.9;
}

.radio-buttons-container {
  display: flex;
  gap: 2rem;
}
.radioBtn-label {
  color: #1b224c;
  /* text-transform: capitalize; */
  font-size: 18px;
  font-weight: bold;
}
/***TextBox**/
input[type="date"] {
  color: transparent;
}

.text-input {
  background-color: transparent;
  border-radius: 5px;
  height: 38px;
  border: 1px solid #1b224c31;
  /* opacity: 0.2; */
  padding: 5px;
}

.text-input::placeholder {
  display: none;
}
.text-input-error {
  background-color: transparent;
  border-radius: 5px;
  height: 38px;
  border: 1px solid #F3223C;
  /* opacity: 0.2; */
  padding: 5px;
}
input[type="text"]:hover {
  border: 0.5px solid #1b224c5c;
  transition: 0.2s ease-in-out;
}
input[type="text"]:focus-visible {
  outline: 0.8px solid #1b224c;
  border: none;
}

label {
  font-weight: 600;
  font-size: 17px;
  color: #1b224c;
}
textarea:hover {
  border: 0.5px solid #1b224c5c;
  transition: 0.2s ease-in-out;
}
textarea:focus-visible {
  outline: 0.8px solid #1b224c;
  border: none;
}
.required {
  color: #f3223c;
  padding-left: 5px;
  font-size: 25px;
  font-weight: bold;
}

.textBox-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.textBox-container label {
  font-weight: 600;
  font-size: 17px;
}

/*** DropDown*******/
/* select {
  border-radius: 5px;
  height: 35px;
  border: 1px solid #1b224c2d;
  opacity: 0.2;

} */
.css-tj5bde-Svg {
  display: none !important;
}
.custom-dropdown-arrow {
  color: #1b224c;
  width: 12px;
}
.css-qbdosj-Input:hover{
  border: none;
}
/***Text with line*****/
.title-with-line {
  display: flex;
  align-items: center;
  /* gap: 3px; */
}
.title-with-line span {
  color: #f3223c;
  font-size: 17px;
  font-weight: 800;
}
.line {
  flex-grow: 1;
  height: 0px;
  opacity: 0.4;
  border: 1.8px solid #1b224c;
  margin-left: 8px;
}

.dotted-line {
  flex-grow: 1;
  height: 1.5px;
  background: linear-gradient(
    90deg,
    #1b224c49 50%,
    transparent 50%,
    transparent
  );
  background-size: 25px 1px;
  margin-left: 10px;
}

.title {
  color: #1b224c;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
}

/***Rounded button********/
.rounded-button {
  padding: 10px;
  border: none;
  font-size: 15px;
  font-weight: 500;
  color: white;
  border-radius: 28px;
  opacity: 1;
  background-color: #3886bd;
  width: fit-content;
}

.button-icon {
  padding-right: 5px;
}

.rounded-button:hover {
  background-color: #f3223c;
  cursor: pointer;
}

/*****file input********/
.file-input {
  display: none;
}

.file-input-container {
  position: relative;
  border-radius: 5px;
  /* height: 100px; */
  border: 1px solid #1b224c31;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.file-input-container-upl{
  position: relative;
  border-radius: 5px;
  /* height: 100px; */
  border: 1px solid #1b224c31;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #020b581f;
}
.file-input-container:hover {
  cursor: pointer;
}

.file-input-container img {
  width: 80px;
  height: 50px;
}
.file-input-container p {
  font-size: 18px;
}

.close-document-icon{
  position: absolute;
  top:10px;
  right: 20px;
  color:#020a58 ;
  opacity: 0.7;
  font-size: 25px;
}
/***Modal****/
.modal-container {
  position: fixed;
  padding: 30px 50px;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000003b;

  /* transform: "translate(-50%,-50%"; */
  /* z-index: 1000; */
  width: 100%;
  height: 100vh;
}

.inner-modal-container {
  position: relative;
  /* padding: 30px 50px; */
  background-color: #ffffff;
  border-radius: 10px;
  height: 50rem;
  /* width: 60rem; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.inner-modal-container .close-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  font-size: 20px;
  opacity: 1;
}

.inner-modal-container h2 {
  font-size: 22px;
  color: #020a58;
  font-weight: bold;
}

.inner-modal-container .submit-modal-button {
  position: absolute;
  bottom: 30px;
  right: 40px;
}
.modal-content {
  height: 95%;
  overflow: auto;
}

/***Text component ***/
.p-style {
  font-weight: 500;
  margin-bottom: 0;
  color: #1b224c;
  font-weight: 18px;
  letter-spacing: 0px;
}

/***Collapsed container*****/
.collapsed-container {
  width: 100%;
  background-color: #020a581a;
  padding: 15px 29px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
}
.roundedRadius {
  border-radius: 5px 48px 48px 5px;
}

.title-hover:hover {
  color: #f3223c !important;
}
.expandable-card {
  width: 100%;
  background-color: #020a581a;
  padding: 15px 29px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}
 .close-icon-exp{
  z-index: 1;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  font-size: 20px;
  /* opacity: 1; */
}
.card {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.card-content {
  max-height: 0;
  opacity: 0;
}
.expanded {
  max-height:700px;
  opacity: 1;
}
/***Phone Input****/
.react-tel-input .form-control {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.01rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 48px;
  margin-left: 0;
  background: transparent !important;
  border: 1px solid #cacaca;
  border-radius: 5px;
  line-height: 25px;
  height: 35px;
  width: 343px ;
  outline: none;
}
.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #1b224c !important;
  outline: 0;
  box-shadow: none !important;
}

.react-tel-input .flag-dropdown.open .selected-flag {
  background: #f2f2f2;
  border-radius: 3px 0 0 0;
}

.react-tel-input .form-control {
  border: 1px solid #1b224c31;
  height: 38px !important;
}
.react-tel-input .form-control:focus-visible {
  outline: 0.8px solid #1b224c ;
}

.phone-input-25 {
  width:25% !important;
}

.phone-input-50 {
  width:50% !important;
}

.phone-input-100 {
  width: 100%  !important;
}


/****Link*****/
.linktext {
  color: #f3223c;
  font-size: 16px;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;

  text-decoration: none;
}

.underlined-link {
  text-decoration: underline;
  color: #f3223c;
  font-size: 16px;
  font-weight: bold;
  padding-left: 5px;
  cursor: pointer;
}
.blue-link {
  color: #3886bd;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 18px;
  padding-left: 5px;
  cursor: pointer;
}
.blue-link span {
  font-size: 18px;
  font-weight: 600;
  color: #1b224c;
}
/*****Bulleted text******/
li::marker {
  color: #1b224c;
  font-size: 25px;
}

ul.circle-bullets {
  list-style-type: circle;
}

ul {
  font-size: 18px;
  color: #1b224c;
  font-weight: 600;
  padding-left: 1.5rem !important;
}

/****Custom Checkbox******/

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 0px;
  cursor: pointer;
  /* font-size: 22px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px solid #113161;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #113161;
}

.checkbox-container:hover input ~ .checkmark {
  border: 1px solid #f3223c;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkbox-container p {
  font-size: 18px;
  font-weight: 600;
  padding-left: 5px;
}

/******textarea*****/
.textBox-container textarea {
  resize: none;
  border-radius: 5px;
  border: 1px solid #1b224c31;
}
.textBox-container textarea:hover {
  border: 0.5px solid #1b224c5c;
  transition: 0.2s ease-in-out;
}
/*****stepper***/

.stepper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.subStep-container {
  display: flex;
  align-items: center;
}

.stepper .step {
  padding: 3px 15px;
  margin: 0 10px 0px 10px;
  color: #ffffff;
  height: 40px;
  border-radius: 50%;
  width: 40px;
  transition: 0.5s all ease-in-out;
}

.activeLine {
  width: 0;
  height: 3px;
  opacity: 0;
  background-color: white;
  margin: 0 0.5rem;
}

.inActiveLine {
  width: 0;
  height: 3px;
  opacity: 0.4;
  width: 45px;
  background-color: white;
  margin: 0 10px;
}

.stepper .step.active ~ .activeLine {
  width: 200px;
  opacity: 1;
}

.active {
  background-color: white;
  transform: scale(1);
}

.inactive {
  background-color: rgba(135, 135, 135, 0.555);
}

.checkedLogo {
  padding: 0rem 10px;
  height: 40px;
  opacity: 0.4;
}



/******select react*******/
.css-tj5bde-Svg {
  color: #1b224c;
  display: inline-block;
  fill: currentColor;
  line-height: 1;
  stroke: currentColor;
  stroke-width: 0;
}

.css-1u9des2-indicatorSeparator {
  display: none;
}

.css-1jqq78o-placeholder {
  display: none;
}

.css-13cymwt-control {
  background-color: transparent !important;
}

.css-g37w59-control {
  border-color: #1b224c !important;
}

.css-t3ipsp-control {
  border-color: #1b224c !important;
  box-shadow: none !important;
}
.css-zso92v-control{
  border-color: #1b224c !important;
  box-shadow: none !important;
}
.css-zso92v-control:focus{
  border-color: #1b224c !important;
  box-shadow: none !important;
}
.css-zso92v-control:focus-visible{
  border-color:none !important;
}
.css-ugifqb-control:hover{
  border: none !important;
}
.css-ugifqb-control{
  border: none !important;

  outline: none;
}
/****Show interest*****/
.showInterest-container {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: "translate(-50%,-50%";
  z-index: 1000;
  width: 100%;
  height: 100vh;
}

.showInterest-subContainer {
  position: relative;
  padding: 30px 50px;
  background-color: #ffffff;
  border-radius: 10px;
  height: 90%;
  width: 85%;
  display: flex;
  flex-direction: row;
  opacity: 0.9;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
}

#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/****verticsl line*****/
.vertical-container {
  height: 10vh;
  display: flex;
  align-items: center;
}

.vertical {
  width: 2px;
  height: 75vh;
  background: linear-gradient(
    170deg,
    #1b224c49 50%,
    transparent 50%,
    transparent
  );
  background-size: 1px 20px;
}

/****Horizantal line*****/
.horizontal-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.horizontal {
  width: 75vw; /* Adjust the width as needed */
  height: 2px;
  background: transparent;
  border-top: 2px dashed rgba(0, 0, 0, 0.23);
}

/********Show Interest Form*********/
.show-interest-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* padding: 20px; */
  padding: 0 20px 0 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-column-gap: 10px;
}

.grid-container2 {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-column-gap: 10px;
}

/*********Upper Header*************/
.upperHeader-container {
  /* position: fixed; */
  height: 84px;
  width: 100%;
  background-color: #1b224c;
}

/*******Aud app header*************/
.aud-app-header {
  background-color: #1b224c;
  width: 100%;
  height: 84px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

/******Register Page***************/
.registerPage-container {
  display: flex;
  flex-direction: column;
  margin: 7rem;
  gap: 1.5rem;
}

/*******Register forms container*********/
.registerForms-container {
  border-bottom: 1px solid #1b224c66;
  border-left: 1px solid #1b224c66;
  border-right: 1px solid #1b224c66;
  padding: 4rem 3rem;
}
.form-subcontainer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.form-subcontainers {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/********Personal Information********/
.grid-personal1-cont {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 3fr;
  grid-column-gap: 10px;
}
.grid-personal2-cont {
  display: grid;
  grid-template-columns: 3fr 3fr 2fr 3fr;
  grid-column-gap: 10px;
}
/**********Mailing Address*************/
.grid-mailing-cont {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

/**********PROGRAM INFORMATION*******************/
.grid-programInfo-cont {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
  grid-column-gap: 10px;
}

/***********Consent****************/
.grid-consent1-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
}
.grid-consent2-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

/**********Academic information***************/
.grid-academic-cont {
  display: grid;
  grid-template-columns: 3fr 4fr 3fr 2fr;
  grid-column-gap: 10px;
}

.grid-academic2-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

/*********Regulation table******************/
.regulations-container {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #1b224c66;
  border-radius: 5px;
}
.regulations-header {
  height: 60px;
  background: var(--unnamed-color-1b224c) 0% 0% no-repeat padding-box;
  background: #1b224c2b 0% 0% no-repeat padding-box;
  border-radius: 5px 5px 0px 0px;
  font-weight: 800;
  color: #1b224c;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.reg-sub-cont-header {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

/*******Agreement table***************/
table {
  border: none;
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #1b224c1e;
  color: #1b224c;
  font-size: 16px;
  font-weight: 800;
  text-align: left;
}

td {
  color: #1b224c;
  opacity: 1;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
}
thead {
  text-align: center;
}

thead tr th:first-child {
  text-align: left;
  padding: 20px 30px;
}

td:first-child {
  text-align: left;
  padding-left: 30px;
}

.custom-date-input {
  position: relative;
  border-radius: 5px;
  height: 38px;
  border: 1px solid #1b224c31;
  padding: 5px;
  overflow: hidden;
}
.custom-date-input:hover {
  border: 0.5px solid #1b224c5c;
  transition: 0.2s ease-in-out;
}
.custom-date-input input[type="date"] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 85%;
  cursor: pointer;
  color: #020a58;
  font-weight: 600;
  padding: 10px;
  border: transparent;
  background-color: transparent;
}

.custom-date-input input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.custom-date-input input[type="date"]:focus-visible {
  outline: transparent;
  border: none;
}

.custom-date-icon {
  position: absolute;
  right: 10px;
  top: 2;
  width: 20px;
  height: 20px;
  background: url("./../public/images/calendar4.svg") no-repeat;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
}

/******Agreement*******/
.agreement-table-cont {
  border: 1px solid #1b224c66;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 5px;
}

.ag-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 30px;
}
.agreement-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.agreement-title {
  background-color: #1b224c1e;
}
/*******Academic files*********/
.grid-acd-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-column-gap: 10px;
}
/*****Tuition******/
.tuition-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 50px 0 50px;
}

/*********Registration page 4*************/
.payment-container {
  display: flex;
  flex-direction: row;
  padding: 0 10%;
  justify-content: space-between;
  gap: 1rem;
}
.payment-subcontainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.payment-subcontainer p {
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 0px;
}
/***********Payment***************/

.tab-container {
  border: 1px solid #1b224c27;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 45px;
}

.active-tab {
  font-size: 18px;
  color: #1b224c;
  font-weight: bold;
  background-color: #39a3003c;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin: 3px;
  width: 250px;
  text-align: center;
}
.tab-container a {
  text-decoration: none !important;
}
.inactive-tab {
  font-size: 18px;
  color: #1b224c;
  font-weight: 600;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 250px;
  text-align: center;
}
.stroke {
  width: 0px;
  height: 24px;
  border: 1px solid #000000;
  opacity: 0.2;
}

/*****Card type********/
.activeType {
  background-color: #39a3003c;
  border: 1px solid #00000033;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.inActiveType {
  border: 1px solid #00000033;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/*******Invoice**********/
.invoice-container {
  background-image: url("../public/images/invoice-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  width: 455px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.invoice-title {
  align-self: center;
}
.app-fee-cont {
  margin-bottom: 20px;
  margin-left: 20px;
  /* font-size: 18px; */
}
.app-fee-cont label {
  font-size: 20px;
  font-weight: 600;
}
.app-fee-cont div {
  font-size: 30px;
  font-weight: bold;
}
.app-details {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
}
.app-details div:first-child {
  color: #1b224c;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
}
.app-details div:nth-child(2) {
  color: #1b224c;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bold;
}

.verticalPayment-container {
  /* height: 10vh; */
  display: flex;
  align-items: center;
}
.verticalLine {
  width: 2px;
  height: 500px;
  background: transparent;
  border-left: 2px dashed rgba(0, 0, 0, 0.23);
}
/****************Media Query****************************/
/**************************************/
/*****************************/
/************************/
/*****************/
/*********/
/***/

@media screen and (max-width: 1300px) {
  /*****stepper***/

  .stepper .step {
    padding: 0;
    margin: 0 10px 0px 10px;
    background-color: #ffffff;
    height: 24px;
    border-radius: 50%;
    width: 24px;
    transition: 0.5s all ease-in-out;
  }

  .activeLine {
    width: 0;
    height: 1px;
    opacity: 0;
    background-color: white;
    margin: 0 0.5rem;
  }

  .inActiveLine {
    width: 0;
    height: 1px;
    opacity: 0.4;
    width: 24px;
    background-color: white;
    margin: 0 10px;
  }

  .stepper .step.active ~ .activeLine {
    width: 142px;
    opacity: 1;
  }
}
@media screen and (max-width: 1500px) {
  .show-interest-form {
    gap: 10px;
  }
  .title {
    font-size: 14px;
  }
  .p-style {
    font-size: 18px !important;
  }
  .text-input {
    height: 30px;
  }
  .textBox-container label {
    font-size: 12px;
  }
  .css-13cymwt-control {
    min-height: 30px !important;
  }
  .css-qbdosj-Input {
    margin: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
  }
  .css-1xc3v61-indicatorContainer {
    padding: 2px !important;
  }
  .react-tel-input .form-control {
    height: 30px !important;
  }
  .showInterest-subContainer {
    height: 95%;
  }
}
